<style>
  .margins{
    border-radius: 20px !important;

  }
  .margins2{
    border-radius: 20px !important;
    border: solid hsl(26, 100%, 55%) 3px;
    filter: opacity(25%);
  }
  .margins:active{
    border: solid hsl(26, 100%, 55%) 3px;
    filter: opacity(25%);
}
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/logo.svg" alt="logo" style="margin-right: 50px!important;">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="#">Colections </a>
            <a class="nav-item nav-link" href="#">Men</a>
            <a class="nav-item nav-link" href="#">Women</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Contact</a>
          </div>
        </div>
        <ul class="nav justify-content-end">
          <li class="nav-item d-flex align-items-center" >
            <a class="nav-link"  href="#"> <img src="assets/icon-cart.svg" alt=""> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"> <img src="assets/image-avatar.png" style="height: 50px; width: 50px;" alt=""> </a>
          </li>
        </ul>
      </nav>
      <hr>
     <div class="container-sm">
       <div class="row">
        <div class="col-6 text-center">
          <img class="rounded mb-3 margins " src="assets/image-product-1.jpg" alt="" style="height:450px; width: 400px;">
          <div class="row">
            <div class="col-3  "><img class="margins2 rounded " src="assets/image-product-1.jpg" style="height:100px; width: 100px;"></div>
            <div class="col-3 rounded"><img class="rounded margins" src="assets/image-product-2.jpg" style="height:100px; width: 100px;"alt=""></div>
            <div class="col-3 rounded"><img class="rounded margins" src="assets/image-product-3.jpg" style="height:100px; width: 100px;"></div>
            <div class="col-3 rounded"><img class="rounded margins" src="assets/image-product-4.jpg" style="height:100px; width: 100px;"></div>

          </div>
        </div>
        <div class="col-6">
          <h6 style="color: darkorange;">SNEAKERS COMPANY</h6>
          <h2 class="mt-3">Fall Limited Edition Sneakers</h2>
          <p class="mt-5">these low profile ybeajers are your perfect casual wear cinoabuib, Featuring a durable rubber outfer sola. They whill everything the wheater clotesthese low profile ybeajers are your perfect casual wear cinoabuib, Featuring a durable rubber outfer sola. They whill everything the wheater clotes</p> <br>
          <h3>$125.00 <span class="badge bg-secondary" style="background-color: lightgray !important; color: hsl(26, 100%, 55%);">50%</span></h3>
          <h6 class="sr-only" style="color: gray;">$250.00</h6>
          <div class="row">
            <div class="col-4 text-center "  >
                <div style="" class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-lg btn-block btn-light" style="color: hsl(26, 100%, 55%);">-</button>
                  <button type="button" class="btn btn-light btn-lg btn-block">6</button>
                  <button style="color: hsl(26, 100%, 55%);"type="button" class="btn btn-lg btn-block btn-light">+</button>
                </div>


            </div>
            <div class="col-8 text-center" style="background-color: hsl(26, 100%, 55%); border-radius: 10px;" >
              <a style="background-color: hsl(26, 100%, 55%); border: none;" type="button" class="btn btn-primary btn-lg btn-block"> <img src="assets/icon-cart.svg" alt="" style="fill: white;" > Add to cart</a>

            </div>

          </div>
        </div>
     </div>

    </div>
  </div>
</div>
